<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Gdziegramy Login</title>
    <style>
        .login-form {
            width: 500px;
            margin: 0 auto;
            font-family: Tahoma, Geneva, sans-serif;
            text-align: center;
        }
        .login-form h1 {
            text-align: center;
            color: #4d4d4d;
            font-size: 24px;
            padding: 20px 0 20px 0;
        }
    </style>
</head>
<body>
<div class="login-form">
    <h1>Witaj {{user}}</h1>
    <a href="/addevent"> Dodaj wydarzenie</a>
    <a href="/addcourt"> Dodaj boisko</a>
    <a href="/logout"> Wyloguj się</a>
</div>
</body>
</html>