.leaflet-container {
    width: 70%;
    height: calc(100vh - 75px);
    box-sizing: border-box;
}

.content{
    width: 30%;
    box-sizing: border-box;
    text-align: center;
}
.mapWrapper{
    display: flex;
    width: 100%;
    align-items: center;
}